.mask {
  background-color: #333; 
  color: #333;
  padding: 0 4px;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.mask:hover {
  background-color: #ffcccc;
  color: #000;
}

.navbar {
  height: 65px;
}

body.container {
  padding-top: 70px;
  padding-bottom: 200px;
}

.card-footer {
  height: 45px;
}

p.card-text {
  white-space: pre-wrap;
  word-break: break-all;
}